/*Navbar */
#header nav {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

/*Content*/
#content {
	height: 510px;
	max-height: 510px;
}

#left-content {
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	min-height: 510px;
	z-index: -1;
	position: static; /*adjust*/
}

#left-content .dropdown-toggle {
	padding: 10px;
}

#left-content .divider {
	margin: 5px;
}

.thumbnail {
	margin-bottom: 0px;
	padding: 10px;
}

.col-md-4 {
	padding: 0px 5px 0px 5px;
	position: static; /*adjust*/
}

.navbar-left li{
	display: inline-block;
}

#right-content {
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	z-index: -1;
	position: static; /*adjust*/
}

#right-content .navbar-right {
	padding-right: 15px;
}

.fileUpload {
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.scrollable-list {
	overflow-x: hidden;
	/*overflow-y: scroll;*/
	max-height: 420px;
	z-index: 10;
}

.list-group-item {
	position: static; /*adjust*/
}

.list-group {
	margin-bottom: 0px;
}

.scrollable-menu {
	width: auto;
	min-width: 250px;
	padding: 0px;
}

.scrollable-menu thead tr, .scrollable-menu tfoot tr {
	display: block;
	/*width: 250;*/
}

.scrollable-menu thead tr th, .scrollable-menu tfoot tr th {
	width: 100px;
}

.scrollable-menu thead tr :nth-child(3) {
	text-align: center;
}

.scrollable-menu tbody {
	display: block;
	height: 300px;
	min-width: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}

.scrollable-menu tbody tr :nth-child(1) {
	width: 40px;
}

.scrollable-menu tbody tr :nth-child(2) {
	width: 145px;
}

.scrollable-menu tbody tr :nth-child(3) {
	width: 65px;
}

.sumTotal {
	text-align: center;
}

.tool-active {
	border: solid 2px #051040;
	border-radius: 2px;
}

#footer {
	font-family: 'Verdana';
	background-color: #f8f8f8;
	padding-top: 15px;
	padding-bottom: 5px;
}

#footer h5 {
	margin-top: 4px;
	margin-bottom: 0px;
}

#logo {
	/*box-shadow: 18px 21px 45px -2px rgba(0,0,0,0.66);*/
	padding-top: 5px;
}
/******************* Test *********************************/
.working-space {
	background: url('../Appartment/Real/Cidrap.png') no-repeat;
	background-position: center;
	min-height: 475px; /*dummy value -_-*/
	/*z-index: -1;*/
	opacity: .8; 
}

/********************Style Font-Awesome***************************************/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }