#header nav {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

#header{
	position: fixed;
	width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Verdana';
  line-height: 1.2em;
  color:#50db52;
}

p{
  font-family: 'Verdana';
  text-shadow: 1px 1px #000000;
}
.welcomepage 
{
  background-image:url("../images/background.png");
  background-size: 100% 100%;
  background-attachment: fixed;
  font-size: 2.2rem;
  padding: 3.0em 68% 50% 2em;
  color: #ffffff;
}

.instruction 
{
  background-image: url("../images/instruction.png");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 50% 0em 0em 0em;
}

header {
    position: fixed;
}


li {
    height: 100%;
    margin: auto;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    width: 100%;
    height: 10%;
    background-color: #f8f8f8;
    font-family: sans-serif;
}

#footer_menu_bar 
{
    position:relative;
    left:35%;
    margin-left:-100px;
    display: inline-block;
    list-style: none;
}

.footer_item {
    width: 150px;
    height: 100%;
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-size: 100%;
}

.footer_item:hover {
    color: #50db52;
    text-decoration: none;
}

#copyright {
  position: absolute;
  right: 30px;
  margin-right: -20px;
  margin-top: 25px;
  display: inline-block;
  color: grey;
  font-size: 100%;
}